* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-img: url(../assets/Luffy.jpeg);
}

.zoro {
    --bg-img: url(../assets/Zoro.jpeg);
}

.sajin {
    --bg-img: url(../assets/sajin.jpeg);
}

.nami {
    --bg-img: url(../assets/nami.jpeg);
}

.usopp {
    --bg-img: url(../assets/usopp.jpeg);
}

.chopper {
    --bg-img: url(../assets/chopper.jpeg);
}

.robin {
    --bg-img: url(../assets/robin.jpeg);
}

.franky {
    --bg-img: url(../assets/Franky.jpeg);
}

.brook {
    --bg-img: url(../assets/brook.jpeg);
}

.jinbe {
    --bg-img: url(../assets/jinbe.jpeg);
}

body {
    background-image: var(--bg-img);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

.nemu-nav {
    position: absolute;
    right: 20px;
}

ul li {
    padding-top: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    list-style: none;
}

ul li img {
    width: 50px;
    text-decoration: none;
    border-radius: 50%;
}

.text-luffy {
    width: 300px;
    margin: 50px;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.436);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

.text-luffy h1 {
    padding-bottom: 20px;
    padding-left: 10px;padding-top: 5px;
    font-size: 40px;
}

@media (max-width: 500px) {
    body {
        height: 100vh;
    }
}

@media (max-width: 800px) {
    body {
       background-position: left;
        height: 120vh;
    }
}

@media (max-width: 1400px) {
    body {
        background-position: top;
        width: 50vh;
    }
}