* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-img: url("../assets/naruto.jpeg");
}

.sakura {
    --bg-img: url("../assets/sakura.jpeg");
}

.sasuk {
    --bg-img: url("../assets/sasuk.jpeg");
}

.kakashi {
    --bg-img: url("../assets/kakashi.jpeg");
}

body {
    width: 100vw;
    height: 100vh;
    background-image: var(--bg-img);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nemu-nav {
    position: absolute;
    right: 20px;
}

ul li {
    padding-top: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    list-style: none;
}

ul li img {
    width: 50px;
    text-decoration: none;
    border-radius: 50%;
}

@media (max-width: 500px) {
    body {
        height: 100vh;
    }
}

@media (max-width: 800px) {
    body {
       background-position: left;
        height: 120vh;
    }
}

@media (max-width: 1400px) {
    body {
        background-position: top;
        width: 50vh;
    }
}